body,html{
  box-sizing: border-box;
}
img{
  max-width:100%;
}
.q-body p{
  word-break:break-all;
}

.App{
  max-width:768px;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
#search{
  border:none;
  max-width:300px;
  font-size:20px;
  border-bottom:3px solid #000000;
  
}
.question{
  margin:10px;
  padding:15px;
  border:1px solid lightgrey !important;
  border-radius:5px;
}
.flex{
  display:flex;
}
.m-1{
  margin:1rem;
}
.mt-5{
  margin-top:5rem;
}
.justify-content-between{
  justify-content: space-between;
}
.q-owner{
  font-size:13px;
  font-weight:500;
}
.question-accordion-btn{
  border:none;
  background:none;
  text-align: left;
  font-size:20px;
  padding:5px;
}
span.tag.badge.badge-pill.badge-dark {
  border: 0;
  padding: 5px 15px 7px;
  background-color: #343A43;
  margin: 5px 3px;
}
.comment-count{
  flex:2;
  text-align: right;
}
.comment-wrapper{
  max-height:300px;
  overflow-y: auto;
}
.comment{
  border-bottom: 1px solid lightgrey;
  padding:10px;
}
.commentor{
  font-weight:bold;
  font-size:13px;
}
.tag-wrapper{
  flex:10;
  display:flex;
  flex-wrap: wrap;
  align-content: baseline;
}
.tag:first-of-type{
  margin-left:0;
}

.q-body{
  margin:10px;
  border-top:1px solid lightgrey;
  border-bottom:1px solid lightgrey;
  padding:15px;
}

code{
  overflow-x: scroll; 
}

pre {
  background: #e1fbfb;
  padding: 20px;
}
